@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';

}

.bodies {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-weight: 300;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

.image {
    position: absolute;
    top: -25%;
    left: -17%;
}

.bold {
    font-weight: 700;
}


.escape {
    display: inline-block;
    overflow: hidden;
    font-size: 40px;
    white-space: nowrap;
    padding-top: 18%;

}

.escape:first-of-type {
    animation: showup 5s 1;
}

.escape:last-of-type {
    width: 770px;
    animation: reveal 10s 1;
}

.escape:last-of-type span {
    margin-left: 0;
    animation: slidein 10s 1;
}


.center {
    width: 100%;
    height: 100vh;
    text-align: center;


}

.paragraph {
    margin: 0 20%;
    font-size: 30px;
    font-weight: 300;

}

.mt10 {
    font-size: 50px;
    font-weight: 900;

}

.char {
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}


.title {
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    background-color: white;
}

.texth1 {

    color: black;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 70px;
    font-weight: 900;
    line-height: .75;
    margin: 10px 0;
}

.calculate {
    border: 1px solid black;
    border-radius: 40px;
    margin-top: 100px;
    padding: 0 20px;
}

.cost {
    font-size: 30px;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
}

.benefits {
    text-align: center;
    color: white;
    height: 80vh;
    margin-top: -20px;
    width: 100%;

    background-color: #fcfaff;
}

.fishki {
    display: inline-flex;
    width: 100%;

}

.w25 {
    width: 25%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 2%;
    margin: 0 20px;

}

.headline {
    padding-top: 8%;
    font-size: 50px;
    font-weight: 300;
    color: black;
}

.headlines {
    padding-top: 8%;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.icontitle {
    font-size: 32px;
    color: black;
    font-weight: 300;
}


.nolimits {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    margin-top: -5px;
    padding: 0;
}

.limittxt {
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}

.safetxt {
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}

.hlimit {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    margin: 35% 0 0 15%;
    text-align: left;

}

.kottaro {
    font-size: 50px;
}

.tekstsigmidi:hover {
    color: red;
}

.watch {
    font-size: 18px;
    padding-left: 10px;
}

.tekstsigmidi {
    display: -webkit-inline-box;
    margin-top: 5%;
}

.plimit {
    font-size: 26px;
    text-align: left;
    margin-left: 15%;
    color: #555;
    font-weight: 300;
    line-height: 30px;
}

.velocitytxt {
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
}

.velocity {
    width: 60%;
    background-image: url(image/180202.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hvelocity {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    margin: 30% 15% 0 0;
    text-align: left;

}

.pvelocity {
    font-size: 24px;
    text-align: left;
    margin-right: 15%;
    color: #555;
    line-height: 30px;
    font-weight: 300;
}

.bmw {
    width: 50%;
    background-image: url(image/1804500.jpg);
    background-position: center left;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
}

.safety {
    width: 50%;
    background-image: url(image/saafe.png);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
}



.inline-photo {
    opacity: 0;
    transform: translateY(4em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
    opacity .3s .25s ease-out;
    max-width: 600px;
    will-change: transform, opacity;
    color: white;
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(0);
}

/* Reveal block */

.reveal-holder {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 15%;
}

.reveal-holder .reveal-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 101%;
    background: white;
}

.reveal-holder .reveal-block::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightgray;
    transition-property: transform;
    transition-duration: 0.5s;
}

.reveal-block.gradient::before {
    background: linear-gradient(to left, #eebf56, #f46ca3);
}

.reveal-block.gradient-two::before {
    background: linear-gradient(to left, #1b9edf, #af74c3);
}

.reveal-block.extra {
    background: #1b9edf;
}

.reveal-block.extra::before {
    background: #af74c3;
}

.reveal-block.top.aos-animate::before,
.reveal-block.bottom.aos-animate::before {
    transform: scaleY(1);
}

.reveal-block.left.aos-animate::before,
.reveal-block.right.aos-animate::before {
    transform: scaleX(1);
}

.reveal-block.top::before {
    transform: scaleY(0);
    transform-origin: 0% 100%;
}

.reveal-block.left::before {
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.reveal-block.right::before {
    transform: scaleX(0);
    transform-origin: 0% 100%;
}

.reveal-block.bottom::before {
    transform: scaleY(0);
    transform-origin: 100% 0%;
}

/* AOS animate */

[data-aos=reveal-top],
[data-aos=reveal-left],
[data-aos=reveal-right],
[data-aos=reveal-bottom] {
    transition-property: transform;
    transition-delay: 0.5s;
}

[data-aos=reveal-top] {
    transform: scaleY(1);
}

[data-aos=reveal-top].aos-animate {
    transform: scaleY(0);
    transform-origin: 100% 0%;
}

[data-aos=reveal-left] {
    transform: scaleX(1);
}

[data-aos=reveal-left].aos-animate {
    transform: scaleX(0);
    transform-origin: 0% 100%;
}

[data-aos=reveal-right] {
    transform: scaleX(1);
}

[data-aos=reveal-right].aos-animate {
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

[data-aos=reveal-bottom] {
    transform: scaleY(1);
}

[data-aos=reveal-bottom].aos-animate {
    transform: scaleY(0);
    transform-origin: 0% 100%;
}

[data-aos=reveal-item] {
    visibility: hidden;
    transition-property: visibility;
    transition-duration: 0s;
}

[data-aos=reveal-item].aos-animate {
    visibility: visible;
}

@keyframes showup {
    0% {
        opacity: 0;
        margin-bottom: -150px;
    }
    20% {
        opacity: 1;

    }
    30% {
        margin-bottom: 0;

    }
    80% {
        opacity: 1;

    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;

    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;

    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;

    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 770px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 770px;
    }
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

@media (max-width: 991px) {
    .w25 {
        width: 98%;
    }
.fishki {
    display: block;
 
}
    .image {
        top: 24%;
        left: -46%;
    }
    .escape {
        padding-top: 50%;
    }
    .bodies {

        height: 80vh;
    }
    .center {
        height: 50vh;
    }
    .reveal-holder {
        margin-top: 30%;
    }
    .nolimits {

        height: 70vh;
        display: inline-grid;
    }
    .limittxt {
        width: 100%;
        background-image: url(image/1804500.jpg);
        background-position: center left;
    }
    .bmw {
        display: none;
    }
    .velocitytxt {
        width: 100%;
        background-image: url(image/180202.png);
        background-position: center right;

    }
    .safety {
        display: none;
    }
    .velocity {
        display: none;
    }
    .hvelocity {
        margin: 30% 0 0 40%;
    }
    .pvelocity {
        margin-left: 40%;
    }
    .safetxt {
        width: 100%;
        background-image: url(image/saafe.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
}

@media (min-width: 1600px) {
    .image {
        top: -7%;
        left: 0;
    }
}
